.add-todo__form {
  display: flex;
  flex-flow: column wrap;

  .form-item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;

    label {
      margin-right: 10px;

      &::after {
        content: ':'
      }
    }
  }

  .abc {
    
  }
}